@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.tile-num {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.75), 0 2px 4px rgba(0, 0, 0, 0.5);
}

.no-touch {
  touch-action: none;
}

.flipped {
  transform: scaleX(-1);
}
